.AppBar {
  background-color: var(--color-background);
  flex-grow: 1;
  white-space: nowrap;
  box-shadow: var(--color-card-boxshadow);
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.HeaderLeftContainer {
  display: flex;
  cursor: pointer;
}

.HeaderIcon {
  color: var(--color-primary);
  margin-top: 4px;
  margin-right: 10px;
}
