.GameController {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.GameControllerCard {
  border-radius: 15px;
  background-color: var(--color-background-secondary);
  box-shadow: var(--color-card-boxshadow);
}

.GameControllerCardContentArea {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  padding: 30px;
  padding-bottom: 30px !important;
}

.GameControllerDivider {
  margin: 0px 10px 0px 10px;
}

.GameControllerCardTitle {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid var(--color-primary);
  font-weight: bold;
}

.GameControllerButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.GameControllerButton {
  display: flex;
  border-radius: 50%;
}
.GameControllerButton:hover {
  box-shadow: var(--color-hover) 0px 0px 0px 2px;
}

.GameControllerCardHeaderContainer {
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.MuiCardHeader-action {
  margin: 0;
  padding-right: 5px;
}
